.containerAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  .aboutTitle {
    padding-top: 10rem;
    font-size: 5rem;
    color: rgb(223, 223, 223);
    @media screen and (max-width: 600px) {
      font-size: 3rem;
    }
  }
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  width: 17rem;
  height: 7rem;
  color: rgb(219, 219, 219);
  transition: 0.2s ease-in-out;
  @media screen and (max-width: 600px) {
    width: 5rem;
    height: 2rem;
    font-size: 2rem;
  }
}
.cards {
  color: rgb(17, 17, 17);
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  .card {
    width: 17rem;
    height: 7rem;
    background-color: rgb(109, 109, 109);
    border: 5px rgb(109, 109, 109) solid;
    transition: 0.2s ease-in-out;
    @media screen and (max-width: 600px) {
      width: 5rem;
      height: 2rem;
    }
    &:hover {
      border-color: #da2d2d;
      .icon {
        transition: 0.2s ease-in-out;
        color: transparent;
        width: 0rem;
        height: 0rem;
      }
      background-color: rgb(223, 223, 223);
      width: 70rem;
      height: 30rem;
      transition: 0.2s ease-in-out;
      @media screen and (max-width: 600px) {
        width: 28rem;
        height: 13rem;
      }
    }
  }
  .card {
    transition: 0.5s ease-in-out;
    white-space: nowrap;
    padding: 5px;
    &:hover #awards {
      display: block;
      transition: 0.5s ease-in-out;
    }
    .li {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 15px;
      @media screen and (max-width: 600px) {
        font-size: 6px;
        padding-left: 0px;
      }
    }
    .sli {
      color: rgb(37, 37, 37);
      font-size: 12px;
      padding-left: 19px;
      @media screen and (max-width: 600px) {
        font-size: 5.2px;
        padding-left: 0px;
      }
    }
  }
}
.isli {
  font-style: italic;
  color: rgb(37, 37, 37);
  font-size: 12px;
  padding-left: 8px;
  @media screen and (max-width: 600px) {
    font-size: 5.2px;
    padding-left: 0px;
  }
}
.lang {
  padding-left: 15px;
  @media screen and (max-width: 600px) {
    font-size: 5.2px;
    padding-left: 0px;
  }
}
.plat {
  color: rgb(37, 37, 37);
  font-size: 12px;
  padding-left: 28px;
  @media screen and (max-width: 600px) {
    font-size: 5.2px;
    padding-left: 1rem;
  }
}
#awards {
  //error if changed to different ID name
  display: none;
  font-size: 14px;
  margin-top: 10px;
  overflow: hidden;
  padding: 5px;
  white-space: nowrap;
  width: 70em;
  animation: type 3s steps(60, end);
  @media screen and (max-width: 600px) {
    margin-top: 1px;
    padding: 0px;
    font-size: 7px;
  }
}
@keyframes type {
  from {
    width: 0;
  }
}
