.containerContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  .contactTitle {
    padding-top: 10rem;
    font-size: 5rem;
    color: rgb(223, 223, 223);
  }
  .iconPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    width: 20rem;
    height: 10rem;
    color: rgb(1, 233, 250);
    transition: 0.2s ease-in-out;
  }
  .dropDown {
    width: 17rem;
    height: 7rem;
    background-color: rgb(17, 17, 17);
    transition: 0.2s ease-in-out;
    display: flex;
    &:hover #contact {
      display: block;
      transition: 0.5s ease-in-out;
    }
    &:hover {
      border: 5px rgb(1, 233, 250) solid;
      background-color: rgb(223, 223, 223);
      width: 40rem;
      height: 46rem;
      transition: 0.2s ease-in-out;
      .iconPhone {
        transition: 0.2s ease-in-out;
        color: transparent;
        width: 0rem;
        height: 0rem;
      }
    }
    .info {
      padding-top: 5px;
      padding-bottom: 20px;
      text-align: center;
      color: rgb(37, 37, 37);
    }
  }
  #contact {
    display: none;
    font-size: 14px;
    margin-top: 10px;
    overflow: hidden;
    padding: 5px;
    white-space: nowrap;
    width: 70em;
    animation: type 1s steps(60, end);
  }
  @keyframes type {
    from {
      width: 0;
    }
  }
  .icons {
    font-size: 5rem;
  }
}
