.containerContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  .contactTitle {
    padding-top: 10rem;
    font-size: 5rem;
    color: rgb(223, 223, 223);
    @media screen and (max-width: 600px) {
      font-size: 4rem;
    }
  }
  .iconPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    width: 20rem;
    height: 10rem;
    color: rgb(223, 223, 223);
    transition: 0.2s ease-in-out;
    @media screen and (max-width: 600px) {
      font-size: 7rem;
    }
  }
  .dropDown {
    width: 17rem;
    height: 7rem;
    background-color: rgb(10, 10, 10);
    transition: 0.2s ease-in-out;
    display: flex;
    &:hover #contact {
      display: block;
      transition: 0.5s ease-in-out;
    }
    &:hover {
      border: 5px rgb(109, 109, 109) solid;
      background-color: rgb(223, 223, 223);
      width: 40rem;
      height: 46rem;
      transition: 0.2s ease-in-out;
      border-color: #da2d2d;
      @media screen and (max-width: 600px) {
        width: 27rem;
        height: 43rem;
      }
      .iconPhone {
        transition: 0.2s ease-in-out;
        color: transparent;
        width: 0rem;
        height: 0rem;
      }
    }
    .info {
      padding-top: 5px;
      padding-bottom: 20px;
      text-align: center;
      color: rgb(37, 37, 37);
      @media screen and (max-width: 600px) {
        font-size: 1.5rem;
      }
    }
  }
  #contact {
    display: none;
    font-size: 14px;
    margin-top: 10px;
    overflow: hidden;
    padding: 5px;
    white-space: nowrap;
    width: 70em;
    animation: type 1s steps(60, end);
  }
  @keyframes type {
    from {
      width: 0;
    }
  }
  .icons {
    font-size: 5rem;
    transition: 0.2s ease-in-out;
    @media screen and (max-width: 600px) {
      font-size: 4.8rem;
    }
    &:hover {
      font-size: 6rem;
      color: #da2d2d;
      transition: 0.2s ease-in-out;
      @media screen and (max-width: 600px) {
        font-size: 6rem;
      }
    }
  }
}
